/* Estilos generales y creación de variables para colores y fuentes */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

input[type="checkbox"]{
    display: none;
}
li {
    list-style: none;
}

body::-webkit-scrollbar {
    width: 13px;
}

body::-webkit-scrollbar-thumb {
    background-color: #cfd1d3;
    border-radius: 0.8rem;
    transition-duration: 0.8s;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #ffb3b3;
}

@font-face {
    font-family: 'Codec Cold Trial';
    src: url('/Fonts/CodecColdTrial-ExtraBold.woff2') format('woff2'),
        url('/Fonts/CodecColdTrial-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-codec: "Codec Cold Trial";
    --font-oswald: "Oswald", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-open: "Open Sans", sans-serif;
    --color-primario: rgba(54, 118, 106, 1);
    --color-secundario: rgba(5, 5, 5, 1);
    --color-terciario: rgba(242, 241, 235, 0.85);
    --color-terciario-transparencia: rgba(242, 241, 235, 0.5);
    --color-blanco: rgba(255, 255, 255, 1);
    --color-filtro: rgba(3, 28, 44, 1);
}


body {
    font-family: var(--font-open);
    color: var(--color-secundario);
    background-color: var(--color-blanco);
    height: auto;
    width: 100%;
    overflow-x: hidden;
    min-width: 37.5em;
    min-width: 25em;
}

img{
    cursor: pointer;
}

h1 {
    font-family: var(--font-codec);
    font-weight: bolder;
}

h2,h3,h4,h5,h6 {
    font-family: var(--font-roboto);
    color: var(--color-primario);
}

/* Estilos del contenido */

main {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

section {
    padding: 5% 2.5%;
    transition: background-color 0.3s ease-in-out;
    gap: 2.5%;
}

h2 {
    text-align: center;
    margin-top: 2.5em;
}

.seccion-principal{
    width: 100%;
}
/* Estilos Hero */

#inicio {
    background-image: url('../Imagenes/tortuga5.jpeg');
    background-size: cover;
    background-position: center;
    height: calc( 100vh - 115px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-blanco);
    text-align: left;
    text-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.8);
    position: relative;
}

#inicio::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-filtro);
    opacity: 0.7;
}

#inicio h1 {
    color: var(--color-cuaternario);
    font-size: 6vw;
    position: relative;
    width: 100%;
    z-index: 2;
    margin: 0;
    margin-left: 0;
    padding: 0;
    text-align: center;
}

#inicio p {
    margin: 0;
    z-index: 2;
    margin-left: 0;
    padding: 0;
    text-align: center;
}

/* Estilos para la sección proyecto */

.proyecto {
    display: inline-block;
    font-size: 1em;
    line-height: 2;
    gap: 20px;
    padding: 4%;
}

.proyecto p,.proyecto h3,.proyecto picture {
    flex: 1;
    margin-top: 1.875em;
}

.proyecto li {
    margin-left: 5%;
    margin-right: 5%;
}

.picture-proyecto {
    flex: 1;
    float: right;
    width: 40%;
}

.imagen1{
    width: 100%;
    height: auto;
    max-width: 680px;
}

.proyecto p{
    width: 100%;
}

.plastiscan{
    display: flex;
    align-items: center;
}

.picture-plastiscan{
    flex: 1;
    float: left;
    width: 40%;
}

.logo {
    width: 100%;
    height: auto;
    max-width: 680px;
    margin-right: 250px;
    padding: 20px;
}

.aplicaciones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}
.aplicaciones ul {
    display: flex;
    flex-direction: column;
}

.aplicaciones li {
    margin-left: 5%;
    padding: 0.625em;
    list-style-type: disc;
}

#nuestro-proyecto {
    margin-bottom: 5em;
}

h3, ul {
    margin: 0;
    padding: 0;
}

/* Estilos para la sección pruébalo */

#pruebalo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    width: 100%;
    justify-content: center;
    margin-bottom: 13.5%;
}

#pruebalo h2{
    margin-bottom: 2em;
}

#pruebalo form {
    display: flex;
    flex-direction: column;
    width: max-content;
    justify-content: center;
    align-items: center;    
}

#pruebalo label, input {
    margin: 0.3125em;
}

.subir-archivo{
    border: 1px dotted var(--color-secundario);
    padding: 30px;
    border-radius: 18px;
    background-color: var(--color-terciario-transparencia);
    box-shadow: 0.15em 0.15em 0.9em rgba(0, 0, 0, 0.2);

}

input[type="submit"] {
    background-color: var(--color-primario);
    color: var(--color-blanco);
    font-family: var(--font-open);
    text-transform: uppercase;
    padding: 0.625em 0.625em;
    border-radius: 0.625em;
    box-shadow: 0 0 0.3125em rgba(24, 23, 23, 0.4);
    border: thick;
    cursor: pointer;
}

input[type="submit"]:hover{
    transition: color 0.1s ease-in-out;
    background-color: var(--color-filtro);
    color: var(--color-blanco);
}

/* Estilos para la sección Contacto */

#contacto, .seccion-email{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contacto h2 {
    margin: 5% 1.25% 1.25% 1.25%;
}

.contenedor-email {
    display: flex;
    align-items: center;
    margin-top: 1.25em;
    font-size: 0.8125rem;
    gap: 2%;
}

.contenedor-email a{
    text-decoration: none;
    color: var(--color-primario);
    font-weight: 500;
}

#boton-mail {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}

#boton-mail:hover::before {
    content: "Clic para copiar el e-mail";
    position: absolute;
    right: calc(100% - 12.9em);
    background-color: var(--color-terciario-transparencia);
    color: var(--color-primario);
    padding: 0.3125em;
    white-space: nowrap;
    border-radius: 0.3125em;
}

#boton-mail img {
    height: 1.5em;
    display: flex;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    flex: 2;
}

.picture-formulario{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.minerva-logo{
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-top: 2.5vw;
}

.formulario label,
.formulario input,
.formulario textarea {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin-bottom: 1.25em;
    color: var(--color-primario);
    background-color: var(--color-terciario-transparencia);
}

.formulario input[type="submit"] {
    color: var(--color-primario);
    background-color: var(--color-terciario);
    cursor: pointer;
}

.imagen1,
.logo {
    width: 12.5em;
}

/* Estilos para la sección Nosotras */

#nosotras {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    line-height: 2;
}

#nosotras p {
    margin: 1em;
}

#nosotras h2 {
    margin-bottom: 2em;
}

.nosotras-img img{
    max-width: 100%;
    height: auto;
    padding: 3em;
}

.texto-resaltado {
    color: var(--color-primario);
    font-family: var(--font-open);
    font-weight: bold;
}

.formulario-div{
    width: 70%;
}

/* Estilos para el footer */

footer {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5%;
}

.redes ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.redes a {
    color: var(--color-secundario);
    text-decoration: none;
    margin: 0 1.25em;
    transition: color 0.1s ease-in-out;
}

.redes a:hover {
    color: var(--color-primario);
}

/* Estilos responsive . Estilos barra de navegación */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--color-terciario);
    width: 100%;
}

.minerva-logo{
    max-width: 8rem;
}

.nav-links{
    display: flex;
    list-style-type: none;
    gap: 1.5rem;
}

.nav-links li a{
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--font-open), sans-serif;
    margin: 0 0.5em;
    transition: color 0.1s ease-in-out;
}

.nav-links a:hover{
    font-family: var(--font-open);
    color: var(--color-primario);
}

.abrir-menu, .cerrar-menu{
    display: none;
}

/*Estilos responsive y menú hamburguesa*/

@media screen and (max-width:550px){
    
    .abrir-menu, .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }
    .abrir-menu{
        color: var(--color-secundario);
    }
    .cerrar-menu{
        color: var(--color-terciario);
    }
    
    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        background-color: var(--color-filtro);    
        padding: 2rem;    
        /*box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);*/
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav-links li a{
        color: var(--color-blanco);
    }

    .nav-links{
        flex-direction: column;
        align-items: end;
    }

    .nav-links a:hover{
        font-family: var(--font-open);
        color: var(--color-blanco);
    }


}